{% block filter %}
    <form action="{{ path('tvi_monitor.routing.ui.index') }}" class="check-result-filter">
        <div class="row">

            <div class="form-group">
                <label for="check">Check(s)</label>
                <select class="selectpicker form-control" id="check" name="check[]" data-width="auto" multiple
                        data-live-search="true" data-actions-box="true">
                    {% for check in checks -%}
                        <option value="{{ check.id }}" {{ check.id in  filters['checks'] ? 'selected':'' }}>{{ check.label }}</option>
                    {%- endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="group">Group(s)</label>
                <select class="selectpicker form-control" id="group" name="group[]" data-width="auto" multiple
                        data-live-search="true" data-actions-box="true">
                    {%- for group in groups -%}
                        <option value="{{ group.id }}" {{ group.id in  filters['groups'] ? 'selected':'' }}>{{ group.label }}</option>
                    {%- endfor -%}
                </select>
            </div>

            <div class="form-group">
                <label for="tag">Tag(s)</label>
                <select class="selectpicker form-control" id="tag" name="tag[]" data-width="auto" multiple
                        data-live-search="true" data-actions-box="true">
                    {%- for tag in tags -%}
                        <option value="{{ tag.id }}" {{ tag.id in  filters['tags'] ? 'selected':'' }}>{{ tag.label }}</option>
                    {%- endfor -%}
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
            </div>

        </div>
    </form>
{% endblock %}
