{% extends '@TviMonitor/ui/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/tvimonitor/css/style.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/tvimonitor/javascript/app.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-bordered check-result">
            <thead>
            <tr class="check-head">
                <th class="col title">{{ 'Name'|trans({}, 'TviMonitor') }}</th>
                <th class="col status">{{ 'Status'|trans({}, 'TviMonitor') }}</th>
                <th class="col message">{{ 'Message'|trans({}, 'TviMonitor') }}</th>
                <th class="col data">{{ 'Data'|trans({}, 'TviMonitor') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
